[Unit]
Description=Xray VLESS + REALITY server
Wants=network-online.target xray-server-warp.service
After=network-online.target xray-server-warp.service

[Container]
ContainerName=xray-server-main
Image=localhost/xray-server-main:26.3.27

PublishPort=443:443
Network=xray-server.network

Secret=xray-server-private-key,type=env,target=XRAY_PRIVATE_KEY

ReadOnly=true
NoNewPrivileges=true
DropCapability=ALL
AddCapability=NET_BIND_SERVICE

[Service]
Restart=on-failure
RestartPreventExitStatus=23

[Install]
WantedBy=multi-user.target
